@media screen (max-width:300px){
    fieldset{
        size: 700;
    }
}


body{
    background-color: #cdcdcd;
  }
  
  
  
  legend{
      color: black;
  }
  
  
  #main{
      font-style: serif;
      margin-left: 530px;
  }
  fieldset{
      align-self: center;
      background-color: #f0d6c7;
       color:black;
  }
  
  div{
      display:block;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
  }
  
  
  /*form text*/
  fieldset{
      width: max-content;
      margin-left: 500px
  }

  body{
      background-color:#f97d73 ;
  }